{% include 'WrapperAJAX' %}
<div class="container-fluid w-25">
  <div class="input-group mb-1 justify-content-center">
    <input
      placeholder="Enter a your note"
      id="inputNote"
      class="input-group-prepend flex-colunm col"
    />
    <input
      class="btn btn-dark btn-group-text offset-md-0"
      type="button"
      id="addBtn"
      value="Add"
      onclick="noteSubmit()"
    />
  </div>

  {% fetchxml notes %}
  <fetch mapping="logical" version="1.0">
    <entity name="cr787_note">
      <all-attributes />
    </entity>
  </fetch>
  {% endfetchxml %}

  <div id="listOut" class="list-group"></div>
</div>

<script>
  let notes=[];
  $(document).ready(
    function noteStore(){
      {% for note in notes.results.entities %}
      notes.unshift({
        name:"{{note.cr787_name}}",
        noteid:"{{note.cr787_noteid}}",
        checked:{{note.cr787_checked}}
      })
      {% endfor %}
      
      notesList();
      checkBox();
      noteDelete();
    } 
  )
  
  function noteCheck(){
     notes.map((note) => {
      if(note.checked){
         $(`#${note.noteid}` ).prop( "checked", true )
      }else { 
        $(`#${note.noteid}` ).prop( "checked", false )
      }
     })
     
   }
   

  

  function notesList() {
    $("#listOut").empty();
    notes.map((note, index) => {
        $("#listOut").append(` <div class="col list-group-item  list-group-item-dark" >
                                ${note.name}
                                <input
                                  id="${note.noteid}"
                                  class="form-check-input"
                                  type="checkbox"
                                />
                                <button
                                  class="col btn btn-dark btn-label float-lg-end"
                                  id="${index}"
                                >
                                  Delete
                                </button>
                            </div>`);
    })
    noteCheck();
  } 
  function noteSubmit(){
    let noteText = $("#inputNote").val();
    let noteObject={
      "cr787_name":`${noteText}`,
      "cr787_checked":false
    }
    webapi.safeAjax({
        type: "POST",
        url: "/_api/cr787_notes",
        contentType: "application/json",
        data: JSON.stringify(noteObject),
        success: function () {
          console.log("added")
        }
      });
    notes.unshift({
      "name":`${noteText}`,
      "checked":false
    })
    console.log(noteObject)
    notesList();
   }
  function noteDelete(){
    notes.map((note,index)=>{
      $(`#${index}`).click( function (){ 
        webapi.safeAjax({
          type: "DELETE",
          url: `/_api/cr787_notes(${note.noteid})`,
          contentType: "application/json",
          success: function () {
            console.log("deleted");
          }
        });
        notes.splice(index,1)
        notesList();
      })
    })
  }
  function checkBox(){
    notes.map((note)=>{
      $(`#${note.noteid}`).click( function (){  
        console.log(note,"s")
        let noteObject={
          "cr787_checked":!note.checked
        }
        webapi.safeAjax({
            type: "PATCH",
            url: `/_api/cr787_notes(${note.noteid})`,
            contentType: "application/json",
            data: JSON.stringify(noteObject),
            success: function () {
              console.log("checked")
            }
        });
        note.checked=!note.checkBox
      }) 
    })
  }
</script>